[Unit]
Description=NodeLogic Cloud Deployment Service
After=syslog.target network.target remote-fs.target nss-lookup.target sshd.target NetworkManager.service iptables.service sssd.service
Requires=syslog.target network.target remote-fs.target nss-lookup.target sshd.target NetworkManager.service iptables.service sssd.service 

[Service]
Type=oneshot
ExecStart=/usr/bin/nodelogic-cloud

[Install]
WantedBy=multi-user.target
